/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


/*Шрифты, технические классы и повторяющиеся блоки------------------------------------------------------------------------------------------------------------------------*/

body{
	font-family: Arial, sans-serif;
}

._container{
	max-width: 1076px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper{
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.header-block {
	text-align: center;
}
.header-block__title {
	font-size: 48px;
	color: #3d3d3d;
	position: relative;
	margin-bottom: 10px;

}

.header-block__title.dark{
	color: #f3e7e6;
}


.header-block__line{
	width: 150px;
	height: 3px;
	background: #f6744b;
	margin: 0 auto;
}

.header-block__line.dark{
	background: #404040;
}
.header-block__line:not(:last-child){
	margin-bottom: 27px;
}



.header-block__subtitle {
	margin: 0 auto;
	font-weight: thin;
	font-size: 14px;
	color: #696969;
	line-height: 160%;
}




/*Шапка------------------------------------------------------------------------------------------------------------------------*/
.header {
	z-index: 2;
	min-height: 145px;
	display: flex;
	background: #f8f6f6;
	position: fixed;
	width: 100%	;


}
.header__container {
	min-height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
._container {}
.header__logo {
	display: flex;
	align-items: center;
}
.header-logo__image {}
.header-logo__text {
	padding-left: 25px;
	text-transform: uppercase;
	font-size: 40px;
	color: #696969;
}
.header__burger {
	position: relative;
}

.header__burger img{
	cursor: pointer;
}


.header__body {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(-76%,20%);
	padding: 5px 30px;
	background: rgba(100,100,100, 0.9);
	transition: all 0.4 ease;
}
.header__body._active{
	visibility: visible;
	opacity: 1;
}
.header__list {
	text-align: center;
}
.header__item {}
.header__item:not(:last-child) {
	margin-bottom: 14px;
}
.header__link {
	font-size: 18px;
	text-transform: uppercase;
	color: #222;
}


@media (max-width: 471px){
	.header-logo__text{
		font-size: 30px;
	}
}

@media (max-width: 369px){
	.header-logo__text{
		font-size: 24px;
		padding: 10px;
	}
}



/*Главный экран------------------------------------------------------------------------------------------------------------------------*/

.main-screen {
	padding-top: calc(300px + 102 * (100vw / 1366));
	padding-bottom: 80px;
	flex: 1 0 100%;
	background: #353535;
	text-align: center;
}
.main-screen__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.main-screen__offer {}
.offer__title {
	font-size: calc(13px + 34 * (100vw / 1366)); 
	color: #d6d5d5;
	letter-spacing: 120;
	text-transform: uppercase;
}
.offer__title:not(:last-child){
	margin-bottom: 10px	;
}
.offer_subtitle {
	text-transform: uppercase;
	color: #d6d5d5;
	font-size: calc(12px + 20 * (100vw / 1366));
}
.offer_subtitle{
	padding-bottom: 60px;
}
.offer__icon {
	display: flex;
	flex-direction: column
}

.offer__icon_text{
	margin-top: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}




/*about------------------------------------------------------------------------------------------------------------------------*/

.about {
	padding: 90px 0 120px 0;
}
.about__header {
	margin-bottom: 60px;
}
.about__row {
	display: flex;
	justify-content: center;
	margin: 0 -10px;
	flex-wrap: wrap;
}
.about__col {
	flex: 0 0 33.333%;
	padding: 0 10px;
}
.about__item {
	padding: 30px 50px;
	height: 100%;
	background: #ebebeb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.item-about {
}
.item-about__icon {
	margin-bottom: 24px;
}
.item-about__title {
	color: #707070;
	font-size: 17px;
	font-weight: bold;
}

.item-about__title:not(:last-child){
	margin-bottom: 17px;
}
.item-about__text {
	color: #707070;
	min-width: 230px
}


@media (max-width: 1059px){
	.about__col:not(:last-child){
		margin-bottom: 20px;
	}
}

@media (max-width: 480px){
	.about__col {
		flex: 1 0 33.333%;
		padding: 0;
	}	
	.item-about__text {
		min-width: 200px
	}
}


/*clients------------------------------------------------------------------------------------------------------------------------*/

.clients {
	padding: 110px 0;
	background: #1c1c1c;
}
.clients__row {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: 	wrap;
	
}
.clients__col {
	flex: 0 0 33.333%;
	padding: 0 20px;	
}


.clients__item {
	min-height: 56px;
}

@media (max-width: 809px){
	.clients__col:not(:last-child){
		margin-bottom: 	40px;
	}
}

@media (max-width: 550px){
	.clients__col{
		flex: 1 0 100%;
	}
}


/*whoweare------------------------------------------------------------------------------------------------------------------------*/

.whoweare {
	padding: 84px 0 105px 0;
}
.whoweare__header {
	margin-bottom: 90px;
}
.whoweare__row {
	margin: 0 15px;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.whoweare__col {
	background: #ebebeb;
	margin: 0 15px;
	display: flex;

}
.whoweare__row .whoweare__col:first-child{
	flex: 0 0 30%;
}
.whoweare__row .whoweare__col:last-child{
	flex: 0 0 70%;
}

.whoweare__item {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 73px 95px;
}

.item-whoweare__avatar {
	display: inline-block;
	padding-bottom: 30%;
	min-height: 134px;
	min-width: 134px;
	border-radius: 100px;
	margin-bottom: 30px;
}
.item-whoweare__name {
	color: #3d3d3d;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 130%	;
}
.item-whoweare__profession {
	color: #3d3d3d;
	font-weight: light;
	font-size: 14px;
	text-transform: uppercase;
}
.item-whoweare__profession:not(:last-child){
	margin-bottom: 23px;
}
.item-whoweare__socials{
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-whoweare__socials a{
	color: #696969;
}
.item-whoweare__socials > *{
	padding: 0 6px;
}

.whoweare__skills {
	height: 100%;
	
	padding: 120px 60px 80px 60px;
}
.skills-whoweare {}
.skills-whoweare__title {
	color: #3d3d3d;
	font-size: 24px;
}
.skills-whoweare__title:not(:last-child){
	margin-bottom: 15px;
}
.skills-whoweare__subtitle {
	color: #858383;
	font-weight: thin;
	font-size: 14px;
}
.skills-whoweare__subtitle:not(:last-child){
	margin-bottom: 30px;
}
.whoweare__skills-block > *:not(:last-child){
	margin-bottom: 22px;
}
.whoweare__prog{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.whoweare__prog div:first-child{
	font-size: 14px;
	letter-spacing: 2px;
	color: #3d3d3d;
	font-weight: bold;
	text-transform: uppercase;
}
.whoweare__prog div:last-child{
	font-size: 14px;
	font-weight: light;
	color: #3d3d3d;
}

.photoshop__name {}
.photoshop__bar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.photoshop__bar {
 	display: flex;
	align-items: center;
	justify-content: center;
}

.photoshop__bar img{
 	padding-right: 10px;
 	max-width: 379px
}

.whoweare__illustraror {}

.illustraror__name {}
.illustraror__bar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.illustraror__bar img{
	padding-right: 10px;
 	max-width: 379px
}


.sketch__name {}
.sketch__bar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sketch__bar img{
	padding-right: 10px;
 	max-width: 379px
}

.aeffects__name {}
.aeffects__bar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.aeffects__bar img {
	padding-right: 10px;
 	max-width: 379px
}

@media (max-width: 1079px){
	.whoweare__row{
		flex-wrap: wrap;
	}
	.whoweare__row .whoweare__col:first-child{
		flex: 0 0 30%;
		margin-bottom: 30px;
	}
	.whoweare__row .whoweare__col:last-child{
		flex: 1 0 100%;
	}
	
}

@media (max-width: 723px){
	.whoweare__prog{
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 541px){
	.illustraror__bar img,
	.photoshop__bar img,
	.sketch__bar img,
	.aeffects__bar img{
		width: 280px;
	}

}

@media (max-width: 441px){
	.illustraror__bar img,
	.photoshop__bar img,
	.sketch__bar img,
	.aeffects__bar img{
		width: 230px;
	}

}

@media (max-width: 382px){
	.illustraror__bar img,
	.photoshop__bar img,
	.sketch__bar img,
	.aeffects__bar img{
		width: 150px;
	}
	.whoweare__col{
		margin: 0;
	}

	.whoweare__row{
		align-items: stretch;
	}
	.whoweare__row .whoweare__col:first-child{
		flex: 1 1 100%;
		margin: 0 0 10px 0;
	}
	.whoweare__row .whoweare__col:last-child{
		margin: 0;
		flex: 1 1 100%;
	}

}
